html{
background: url(footballBeck.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.Welcome-container{
    margin-left: 60%;
    margin-top: 15%;
    backdrop-filter: blur(15px);
    text-align: center;
}

.Welcome-form-title {
    font-family: Poppins-Regular;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
}

.Welcome-frame{
    margin-bottom: 10%;
    padding: 5px 5px 5px 5px;
    backdrop-filter: blur(10px);
    text-align: center;
    font-weight: bold;
}

 button[name="buttonModal"]{
    color: #1db82c;
    border: none;
    padding: 0.5em 0.7em;
    background: black;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin: 3px 2px;
    border-radius: 2px;
    box-shadow: inset 0 0 5px #939aa000,
    inset 0 0 10px #97aabb65,
    inset 0 0 15px #89b481;
    width: 30%;
}

button[name="WelcomeButton"]{
    color: #1db82c;
    border: none;
    padding: 0.6em 1em;
    background: black;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin: 3px 2px;
    border-radius: 2px;
    box-shadow: inset 0 0 5px #939aa000,
    inset 0 0 10px #97aabb65,
    inset 0 0 15px #89b481;
    width: 70%;
}

button[name="WelcomeButton"]:hover ,button[name="buttonModal"]:hover{
    background: rgba(255, 255, 255, 0.479);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.closeChangePointsPolicyDiv{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeChangeGameDate{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeChangePointsPolicyDiv:hover,
.closeChangePointsPolicyDiv:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeChangeGameDate:hover,
.closeChangeGameDate:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.close{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeChosenGame{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeChosenGame:hover,
.closeChosenGame:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeChangeGame{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeChangeGame:hover,
.closeChangeGame:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeChangeGameLocation{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeChangeGameLocation:hover,
.closeChangeGameLocation:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal-header {
    padding: 1px 16px;
    background-color: #55b875;
    color: white;
    font-family: Poppins-Regular;
    font-size: 20px;
    text-align: center;
}

.modal-body {
    padding: 1px 16px;
    color: white;
    font-family: Poppins-Regular;
    font-size: 20px;
    text-align: center;
}

button[name="LogInButton"]{
    color: #7ab479;
    border: none;
    padding: 0.6em 1em;
    background: black;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin: 3px 2px;
    border-radius: 2px;
    box-shadow: inset 0 0 5px #939aa000,
    inset 0 0 10px #97aabb65,
    inset 0 0 15px #89b481;
    width: 200px;
}


button[name="LogInButton"]:hover {
    background: rgba(255, 255, 255, 0.479);
}

select {
    background-color: #0beeb3;
    color: white;
    padding: 12px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

select option {
    padding: 30px;
}


#games , #alertTable, #chosenGameDetails{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #77f2b2;
}

#games td, #games th, #alertTable td, #alertTable th ,#chosenGameDetails td, #chosenGameDetails th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
}

#games tr:first-child,#alertTable tr:first-child ,#chosenGameDetails tr:first-child
{
    background-color: #0c1509;
}

#games th , #alertTable th , #chosenGameDetails th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}